<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<header class="position-relative">

    <img src="https://t4.ftcdn.net/jpg/08/12/97/23/360_F_812972308_6PkvqGx9HTYb76gfddzjpIQr7MTur7h5.jpg"
        alt="taza de cafe" class="w-100" style="height: 500px; object-fit: cover;">

    <div class="position-absolute top-50 start-0 translate-middle-y text-white ms-5" style="padding-left: 20px;">
        <h1 class="display-4 fw-bold">Bienvenidos a TheCoffeeShop</h1>
        <p class="fs-5 opacity-75">Pasión por el café, amor por el sabor</p>
          <p class="fs-5 opacity-75">Seguimos probando/p>
        <button class="btn text-white rounded-pill" style="background-color: #C49A5A; border: none;"> Ver más </button>
    </div>
</header>