<header class="position-relative">
    
        <img src= "https://images.unsplash.com/photo-1727238420159-5923a666cf38?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="taza de cafe" class="w-100" style="height: 500px; object-fit: cover;">
    
    <div class="position-absolute top-50 start-0 ps-5 translate-middle-y text-white ms-5">
        <h1 class="display-4 fw-bold">Más que café</h1>
        <p>Pasión por el café, amor por el sabor</p>
        <button class="rounded-pill" style="background-color: #C49A5A;">Ver más</button>
    </div>
</header> 
